{% extends "analysis/template.html" %}
{% load static from staticfiles %}

{% block title %}
Data Analytic Dashboard
{% endblock %}

{% block content %}
<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
  <img src="{% static 'imgs/income_analysis.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <a href ng-click="getIncomeAnalysis()"><h4>Income&Happiness</h4></a>
  <br>
  <span class="text-muted">A study of how income and happiness are correlated.</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img src="{% static 'imgs/ancestry_politics_analysis.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <a href ng-click="getTransportPoliticsAnalysis()"><h4>Transportation&Politics</h4></a>
  <br>
  <span class="text-muted">Comparison of trouble with transport and interest in politics.</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img src="{% static 'imgs/bbq.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <a href="/analytics-3/"><h4>Green Places&BBQ</h4></a>
  <br>
  <span class="text-muted">Comparison of visits to green spaces (once per week) and interest in barbeques and parties.</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img src="{% static 'imgs/afl.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <a href="/analytics-4/"><h4>Unemployment&AFL</h4></a>
  <br>
  <span class="text-muted">Comparison of unemployment rate and interest in AFL.</span>
</div>
{% endblock %}