{% extends "analysis/template.html" %}

{% block title %}
Income Analysis
{% endblock %}

{% block content %}
<h1 class="page-header">Income Analysis</h1>

<h2 class="sub-header">Visualize data</h2>
<div id="income_analysis_chart_container" ng-show="income_analysis_graph.visible">
    <div>
        <text id="y-axis-unit"><b ng-bind="incomeAnalysisGraphUnits"></b></text>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="income_analysis_graph.data" chart-labels="income_analysis_graph.labels" chart-legend="true" chart-options="income_analysis_graph.options" chart-series="income_analysis_graph.series"></canvas>
    </div>
</div>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>SLA (Statistical Local Area)</strong></th>
                <th><strong>Income Level</strong></th>
                <th><strong>Happiness (Result of sentiment analysis)</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="entry in income_analysis_table">
                {% verbatim %}
                <th>{{ entry.sla }}</th>
                <th>{{ entry.income }}</th>
                <th>{{ entry.happiness }}</th>
                {% endverbatim %}
            <tr>
        </tbody>
    </table>
<div>
{% endblock %}