{% extends "analysis/template.html" %}

{% block title %}
Income Analysis
{% endblock %}

{% block content %}
<h1 class="page-header">Income Analysis</h1>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SLA (Statistical Local Area)</th>
                <th>Income Level</th>
                <th>Happiness (Result of sentiment analysis)</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
<div>

<h2 class="sub-header">Visualize data</h2>

</div>
{% endblock %}