{% extends "analysis/template.html" %}

{% block title %}
Income Analysis
{% endblock %}

{% block content %}
<h1 class="page-header">Income Analysis</h1>

<br/>
<h2 class="sub-header"><strong>Melbourne</strong></h2>
<h2 class="sub-header">Visualize data</h2>
<div id="melb_income_analysis_chart_container" ng-show="melb_income_analysis_graph.visible">
    <div class="graph_title">Income vs Happiness Analysis (Melbourne)</div>
    <div>
        <text id="y-axis-unit"><b ng-bind="incomeAnalysisGraphUnits"></b></text>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="melb_income_analysis_graph.data" chart-labels="melb_income_analysis_graph.labels" chart-legend="true" chart-options="melb_income_analysis_graph.options" chart-series="melb_income_analysis_graph.series"></canvas>
    </div>
</div>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>SLA (Statistical Local Area)</strong></th>
                <th><strong>Income Level</strong></th>
                <th><strong>Happiness (Result of sentiment analysis)</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="entry in melb_income_analysis_table">
                {% verbatim %}
                <th>{{ entry.sla }}</th>
                <th>{{ entry.income }}</th>
                <th>{{ entry.happiness }}</th>
                {% endverbatim %}
            <tr>
        </tbody>
    </table>
</div>

<br/>
<h2 class="sub-header"><strong>Sydney</strong></h2>
<h2 class="sub-header">Visualize data</h2>
<div id="syd_income_analysis_chart_container" ng-show="syd_income_analysis_graph.visible">
    <div class="graph_title">Income vs Happiness Analysis (Sydney)</div>
    <div>
        <text id="y-axis-unit"><b ng-bind="incomeAnalysisGraphUnits"></b></text>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="syd_income_analysis_graph.data" chart-labels="syd_income_analysis_graph.labels" chart-legend="true" chart-options="syd_income_analysis_graph.options" chart-series="syd_income_analysis_graph.series"></canvas>
    </div>
</div>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>SLA (Statistical Local Area)</strong></th>
                <th><strong>Income Level</strong></th>
                <th><strong>Happiness (Result of sentiment analysis)</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="entry in syd_income_analysis_table">
                {% verbatim %}
                <th>{{ entry.sla }}</th>
                <th>{{ entry.income }}</th>
                <th>{{ entry.happiness }}</th>
                {% endverbatim %}
            <tr>
        </tbody>
    </table>
</div>

{% endblock %}