{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/Chart.js/Chart.js'%}"></script>
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-chart.js/dist/angular-chart.css' %}">
    <script src="{% static 'analysis_controller.js' %}"></script>
</head>
<body ng-app="charts" ng-controller="ChartController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">InfiCloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/team-profile/">Profile</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href ng-click="getIncomeAnalysis()">Income & Happiness</a></li>
            <li><a href ng-click="getTransportPoliticsAnalysis()">Transportation & Politics</a></li>
            <li><a href ng-click="getGreenPlacesBBQAnalysis()">Green Places & BBQ</a></li>
            <li><a href ng-click="getUnemploymentAFLAnalysis()">Unemployment & AFL</a></li>
            <li><a href ng-click="getViolenceIncomeAnalysis()">Violence & Income</a></li>
            <li><a href="/reports/">Reports</a></li>
            <li><a href='/demo/'>Demo</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}{% endblock %}
        </div>
      </div>
</body>
</html>
