{% extends "analysis/template.html" %}

{% block title %}
Transportation Politics Analysis
{% endblock %}

{% block content %}
<style type="text/css">
    #map {
      height: 500px;
    }
</style>
<h1 class="page-header">Transportation & Politics Analysis</h1>
<h2 class="sub-header">Map Visualization</h2>
<div id="map"></div>
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d403204.82340727426!2d144.79943919809537!3d-37.859408695328575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2z57u05aSa5Yip5Lqa5bee5aKo5bCU5pys!5e0!3m2!1szh-CN!2sau!4v1463551638215" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<h2 class="sub-header">Visualize data</h2>
<div id="transport_politics_graph_container" ng-show="transport_politics_graph.visible">
    <div class="graph_title">Transportation vs Politics Analysis</div>
    <div>
        <text id="y-axis-unit"><b ng-bind="transport_politics_graph_unit"></b></text>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="transport_politics_graph.data" chart-labels="transport_politics_graph.labels" chart-legend="true" chart-options="transport_politics_graph.options" chart-series="transport_politics_graph.series"></canvas>
    </div>
</div>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>SLA (Statistical Local Area)</strong></th>
                <th><strong>Transport troubles</strong></th>
                <th><strong>Tweets per 1000 Population</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="entry in transport_politics_analysis_table">
                {% verbatim %}
                <th>{{ entry.sla }}</th>
                <th>{{ entry.transport_trouble }}</th>
                <th>{{ entry.politics_tweets }}</th>
                {% endverbatim %}
            <tr>
        </tbody>
    </table>
</div>
<script></script>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASRE0eENx1oYDX7LvmnlN5wJuu27ZsrsY&callback=initMap"
async defer></script>
{% endblock %}
