{% extends "analysis/template.html" %}

{% block title %}
Violence & Income Analysis
{% endblock %}

{% block content %}
<style type="text/css">
    .angular-google-map-container {
      height: 500px;
    }
</style>
<h1 class="page-header">Violence & Income Analysis</h1>
<h2 class="sub-header">Map Visualization</h2>
<div id="map">
  <ui-gmap-google-map center="violence_income_map.center" zoom="violence_income_map.data" refresh="true">
    <ui-gmap-circle ng-repeat="c in violence_income_map.violences_data" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                   visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
    </ui-gmap-circle>  </ui-gmap-google-map>
</div>
<h2 class="sub-header">Visualize data</h2>
<div id="violence_income_graph_container" ng-show="violence_income_graph.visible">
    <div class="graph_title">Violence vs Income Analysis</div>
    <div>
        <text id="y-axis-unit"><b ng-bind="violence_income_graph_unit"></b></text>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="violence_income_graph.data" chart-labels="violence_income_graph.labels" chart-legend="true" chart-options="violence_income_graph.options" chart-series="violence_income_graph.series"></canvas>
    </div>
</div>

<h2 class="sub-header">Table of data</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>SLA (Statistical Local Area)</strong></th>
                <th><strong>Income</strong></th>
                <th><strong>Level of violence</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="entry in violence_income_analysis_table">
                {% verbatim %}
                <th>{{ entry.sla }}</th>
                <th>{{ entry.income }}</th>
                <th>{{ entry.score }}</th>
                {% endverbatim %}
            <tr>
        </tbody>
    </table>
</div>
{% endblock %}
